oracle               soft   nproc   {{oracle_soft_nproc}}
oracle               hard   nproc   {{oracle_hard_nproc}}
oracle               soft   nofile  {{oracle_soft_nofile}}
oracle               hard   nofile  {{oracle_hard_nofile}}
oracle               soft   stack   {{oracle_soft_stack}}

